<div class="container-fluid" id="gaming">
  <div class="container">
    <div class="row">
      <h1>Gaming</h1>
      <hr>
      <% @streamers.each do |streamer| %>
      <div class="col-xs-12 col-sm-6 gaming-profile">
        <div class="row">
          <div class="col-xs-3">
            <%= image_tag(streamer.avatar, class:"img-responsive")%>
          </div>
          <div class="col-xs-9">
            <h1 class="gamertag"><%= streamer.handle %></h1>
            <p><%= streamer.profile %></p>
            <p>Games Played: <%= streamer.games %></p>
            <div class="sns">
              <%= link_to image_tag("icons/icon_twitch", alt:"twitch icon", class:"img-responsive sns-icon"), streamer.twitch  if streamer.twitch.present? %>
              <%= link_to image_tag("icons/icon_youtube", alt:"youtube icon", class:"img-responsive sns-icon"), streamer.youtube if streamer.youtube.present? %>
              <%= link_to image_tag("icons/icon_twitter", alt:"twitter icon", class:"img-responsive sns-icon"), streamer.twitter if streamer.twitter.present? %>
              <%= link_to image_tag("icons/icon_instagram", alt:"instagram icon", class:"img-responsive sns-icon"), streamer.instagram if streamer.instagram.present? %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
